LANGFUSE_SECRET_KEY = "sk-lf-"
LANGFUSE_PUBLIC_KEY = "pk-lf-"
LANGFUSE_BASE_URL = "https://cloud.langfuse.com"

OPENAI_API_KEY = "sk-proj-"

SUPABASE_URL="https://tu-proyecto.supabase.co"
SUPABASE_KEY=""

REDIS_URL=""
